.card {
  display: flex;
}

.item h3 {
  margin: 0.5rem 0;
  font-size: 1.25rem;
}

.image {
  flex: 1;
  border-radius: 10px;
  height: 200px;
  max-width: 200px;
  margin: auto 10px;
}

.details {
  flex: 1;
  display: grid;
  grid-gap: 10px;
  height: 240px;
  padding: 10px;
}

.quantity {
  border-radius: 10px;
  padding: 0.15rem 1.5rem;
  background-color: #3a3a3a;
  color: white;
  font-size: 1.2rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
